<section data-ng-controller="HomeController">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: #00395c">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">

                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="#" ng-click="hiddenCol(columns[0])">Backlog</a>-->
                <!--</li>-->
                <li>
                    <a href="#" ng-click="hiddenCol(columns[1])">Discovery</a>
                </li>
                <li>
                    <a href="#" ng-click="hiddenCol(columns[2])">Design</a>
                </li>
                <li>
                    <a href="#" ng-click="hiddenCol(columns[3])">Build</a>
                </li>
                <li>
                    <a href="#" ng-click="hiddenCol(columns[4])">Pilot</a>
                </li>
            </ul>
        </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dhe-example-section" id="ex-1-4">
                            <div class="dhe-example-section-header">
                                <!--<h3 class="dhe-h3 dhe-example-title" style="margin-top: 40px">Continuous Integration</h3>-->
                                <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">-->
                                    <!--<span id="main_icon" class="glyphicon glyphicon-align-justify"></span>-->
                                <!--</a>-->
                                <div class="dhe-example-description"></div>
                            </div>

                            <div class="panel panel-default column" style="width:{{columnWidth}}%; max-height: 80%;" ng-repeat="column in columns" data-columnindex="{{$index}}" id="column{{$index}}" data-ng-hide="column.hideCol">
                                <div class="panel-heading columnHeader">
                                    <a title="Column settings" ng-model="column" ng-click="hiddenCol(column)" ng-hide="column.name === 'Backlog'"><i class="glyphicon glyphicon-remove"></i></a>
                                    <a title="Add card to column" class="addCard pull-right" ng-click="addCard(column)" ng-show="column.name === 'Backlog'"><i class="glyphicon glyphicon-plus"></i></a>
                                    <span>{{column.name}}</span>
                                </div>
                                <div class="panel-body" style="max-height: 645px">
                                    <article data-as-sortable="dragControlListeners" ng-model="column.cards" class="sortable-list">
                                        <div class="sortable-item" ng-repeat="card in column.cards" data-ng-show="card.title" data-as-sortable-item="">
                                            <div data-as-sortable-item-handle="">
                                                <a class = "removeCard" title="Column settings" ng-model="column" ng-click="removeCard(column, card)" ng-hide="column.name != 'Backlog'"><i class="glyphicon glyphicon-remove"></i></a>
                                                <div class="shape" ng-hide="column.name === 'Backlog'" style="border-color: rgba(255,255,255,0) {{card.ragStatus}} rgba(255,255,255,0) rgba(255,255,255,0);">
                                                    <div class="shape-text">
                                                        {{card.release}}
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <h4>{{card.title}}</h4>
                                                    <p style="margin-left: 2px; margin-right: 2px;">{{card.details}}</p>
                                                    <p style="margin-left: 2px; margin-right: 2px;">{{card.architect}}</p>
                                                    <p style="margin-left: 2px; margin-right: 2px;">{{card.Analyst}}</p>
                                                    <p style="margin-left: 2px; margin-right: 2px;">{{card.designer}}</p>
                                                    <p style="margin-left: 2px; margin-right: 2px;" ng-show="column.name === 'Build'">{{card.buildCell}}</p>
                                                    <a class="btn btn-mini" href="#" ng-click="updateCard(column, card)">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="panel-footer" ng-show="column.cards.length > 0"><a href="#"><span class="badge" ng-bind="column.cards.length" style="background-color: #000000"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</section>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
