<section data-ng-controller="HomeController" ng-init="initFunc();">
    <div id="container-fluid" class="row" style="max-width: 100%; margin-left: 0"> <!--center-wrapper-->
        <div class="dhe-example-section" id="ex-1-4">
            <div class="dhe-example-section-header">
                <!--<h3 class="dhe-h3 dhe-example-title" style="margin-top: 40px">Continuous Integration</h3>-->
                <div class="dhe-example-description"></div>
            </div>

            <div class="panel panel-default column" style="width:{{columnWidth}}%; max-height: 80%;" ng-repeat="column in columns" data-columnindex="{{$index}}" id="column{{$index}}">
                <div class="panel-heading columnHeader">
                    <a title="Column settings" ng-model="column"><i class="glyphicon glyphicon-wrench"></i></a>
                    <a title="Add card to column" class="addCard pull-right" ng-click="addCard(column)"><i class="glyphicon glyphicon-plus"></i></a>
                    <span>{{column.name}}</span>
                </div>
                <div class="panel-body" style="max-height: 645px">
                    <article data-as-sortable="dragControlListeners" ng-model="column.cards" class="sortable-list">
                        <div class="sortable-item" ng-repeat="card in column.cards" data-ng-show="card.title" data-as-sortable-item="">
                            <div data-as-sortable-item-handle="">
                                <div class="shape" ng-hide="column.name === 'Backlog'">
                                    <div class="shape-text">
                                        {{release}}
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{card.title}}</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="panel-footer" ng-show="column.cards.length > 0"><a href="#"><span class="badge" ng-bind="column.cards.length"></span></a></div>
            </div>
        </div>
    </div>
</section>
