.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*
	Stylesheet for examples by DevHeart.
	http://devheart.org/

	Article title:	jQuery: Customizable layout using drag n drop
	Article URI:	http://devheart.org/articles/jquery-customizable-layout-using-drag-and-drop/

	Example title:	1. Getting started with sortable lists
	Example URI:	http://devheart.org/examples/jquery-customizable-layout-using-drag-and-drop/1-getting-started-with-sortable-lists/index.html
*/

/*
	Alignment
------------------------------------------------------------------- */

/* Floats */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}


/*
	Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
    margin: auto;
    width: 100%;
}

.caption h4 {

    color: #444;
}
.caption p {

    color: #999;
}
.btn.btn-mini {

}

/* Columns */

.well {
    width: 100%;
    margin-top: 15px;
    padding: 0;
}

.panel-default > .panel-body {
    padding: 0;
    overflow-y: auto;
    background-color: black;
}


.column {
    background-color: transparent;
    border-color: black;
    margin-left: 0;
    margin-top: 23px;
    width: 20%;
    max-height: 80%;
    float: left;
}

.panel-default > .panel-heading {
    color: #0000ff;
    background-color: #003147!important;
    border-color: #ddd;
}

.column.first {margin-left: 0;background-color: antiquewhite;}

.columnHeader {
    background-color: #000000;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    font-weight: 500;
    font-family: "Helvetica Neue Light";
}

.glyphicon-remove {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
    color: red;
}

.glyphicon-remove {
    margin-right: 5px;
    vertical-align: 50%;
}

.glyphicon-align-justify {
    margin-top: 20px;
}


.addCard {
    padding: 3px 0 3px 3px;
    margin-right: 5px;
    align-content: center;
}

.shape {
    border-style: solid;
    border-width: 0 70px 40px 0;
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
    float: right;
    height: 0;
    width: 0;
    padding: 0;
    margin-top: -15px;
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 5px;
    white-space: nowrap;
    -ms-transform: rotate(30deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}


/* Sortable items */

.sortable-list {
    background-color: #F93;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.2);
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    min-height: 60px;
    padding: 5px;
    width: 100%;
}
.sortable-item {
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.2);
    cursor: move;
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

/* Containment area */

#containment {
    background-color: #FFA;
    height: 100%;
}


/* Item placeholder (visual helper) */

.placeholder {
    background-color: #BFB;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px;
}


/*sidebar*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 110px;
    width: 0;
    height: 95%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 80px;
}

#page-content-wrapper {
    width: 130%;
    position: fixed;
    top: -25px;
    padding: 0;
    margin-top: 0;
    margin-left: -190px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -190px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 150px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    border-style: solid;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
